{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualization</title>
    <style type="text/css">
        .chartBox {
            width: 1250px;
        }
    </style>
</head>
<body>
    <div class="chartBox">
        <canvas id="myChart"></canvas>
    </div>

    <input type="file" id="uploadfile" accept=".csv">
    <button id="uploadconfirm">Upload File</button>

    <hr>
    <label for="xaxis">Select x-axis:</label>
    <select id="xaxis"></select>
    <label for="yaxis">Select y-axis:</label>
    <select id="yaxis"></select>
    <button id="submit">Create Chart</button>
    <label for="barcolor">Select bar color:</label>
    <input type="color" id="barcolor" value="#ff6384">

    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script>
        const uploadconfirm = document.getElementById('uploadconfirm').
        addEventListener('click', () => {
            document.getElementById('xaxis').innerHTML = '';
            document.getElementById('yaxis').innerHTML = '';
            Papa.parse(document.getElementById('uploadfile').files[0],
            {
                download: true,
                header: true,
                skipEmptyLines: true,
                transformHeader: function(header) {
                // Remove white spaces and double quotes around headers
                    return header.trim().replace(/"/g, '');
                },
                transform: function(value, header) {
                    // Remove white spaces around values
                    return value.trim();
                },
                complete: function(results) {
                    const headers = Object.keys(results.data[0]);
                    const xaxis = document.getElementById('xaxis');
                    const yaxis = document.getElementById('yaxis');
                    headers.forEach(header => {
                        const option = document.createElement('option');
                        option.value = header;
                        option.text = header;
                        xaxis.add(option);
                        const option2 = document.createElement('option');
                        option2.value = header;
                        option2.text = header;
                        yaxis.add(option2);
                    });
                }
            });
        });

        // Setup block
        const data = {
            datasets: [{
                label: '',
                data: [],
                backgroundColor: document.getElementById('barcolor').value,
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 0
            }]
        };
        // Config block
        const config = {
            type: 'bar',
            data,
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: ''
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: ''
                        },
                        beginAtZero: true
                    }
                }
            }
        };
        // Init Render block
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
        const barcolor = document.getElementById('barcolor');
            barcolor.addEventListener('input', () => {
                data.datasets[0].backgroundColor = barcolor.value;
                myChart.update();
            });
        const submit = document.getElementById('submit').addEventListener('click', () => {
            const xaxis = document.getElementById('xaxis').value;
            const yaxis = document.getElementById('yaxis').value;
            Papa.parse(document.getElementById('uploadfile').files[0],
            {
                download: true,
                header: true,
                skipEmptyLines: true,
                transformHeader: function(header) {
                    // Remove white spaces and double quotes around headers
                    return header.trim().replace(/"/g, '');
                },
                transform: function(value, header) {
                    // Remove white spaces around values
                    return value.trim();
                },
                complete: function(results) {
                    const xValues = results.data.map(d => d[xaxis]);
                    const yValues = results.data.map(d => d[yaxis]);
                    data.labels = xValues;
                    data.datasets[0].label = yaxis;
                    data.datasets[0].data = yValues;
                    config.options.scales.x.title.text = xaxis;
                    config.options.scales.y.title.text = yaxis;
                    myChart.update();
                }
            });
        });
    </script>
</body>
</html>

{% endblock %}